@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap");

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  width: 100%;
}

header {
  background-color: #333;
  padding: 2rem;
  color: #fff;
}

.header__container,
.main__container {
  width: 90vw;
  max-width: 1280px;
  margin: 0 auto;
}

.header__logo {
  margin-top: 0;
  font-size: 6rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  line-height: 1;
}

.header__subtitle {
  margin-top: 0;
  font-size: 1.5rem;
}

.post__list {
  margin: 0;
  padding: 2rem 0;
}

.post__list__item {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
  font-size: 13pt;
  display: flex;
}

.post__list__item:hover {
  background-color: #fafafa;
}

.post__list__item a {
  padding: 1rem;
  color: #333;
  text-decoration: none;
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.post__author {
  color: #999;
}

.post__date {
  margin-left: auto;
}

.post__delete {
  visibility: hidden;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.post__list__item:hover .post__delete {
  visibility: visible;
}
